	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/05/2018 08:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../icon-fonts/Flaticon.eot");
  src: url("../icon-fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../icon-fonts/Flaticon.woff") format("woff"),
       url("../icon-fonts/Flaticon.ttf") format("truetype"),
       url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-001-trophy-1:before { content: "\f100"; }
.flaticon-002-bowling:before { content: "\f101"; }
.flaticon-003-tshirt:before { content: "\f102"; }
.flaticon-004-dumbbell:before { content: "\f103"; }
.flaticon-005-pedal:before { content: "\f104"; }
.flaticon-006-basketball-ball:before { content: "\f105"; }
.flaticon-007-badminton:before { content: "\f106"; }
.flaticon-008-tactics-2:before { content: "\f107"; }
.flaticon-009-medal:before { content: "\f108"; }
.flaticon-010-podium:before { content: "\f109"; }
.flaticon-011-trophy:before { content: "\f10a"; }
.flaticon-012-soccer-1:before { content: "\f10b"; }
.flaticon-013-tactics-1:before { content: "\f10c"; }
.flaticon-014-tactics:before { content: "\f10d"; }
.flaticon-015-gym-bag:before { content: "\f10e"; }
.flaticon-016-diploma:before { content: "\f10f"; }
.flaticon-017-weightlifting-1:before { content: "\f110"; }
.flaticon-018-weight-1:before { content: "\f111"; }
.flaticon-019-heart:before { content: "\f112"; }
.flaticon-020-rugby-pitch:before { content: "\f113"; }
.flaticon-021-soccer-field:before { content: "\f114"; }
.flaticon-022-basketball-1:before { content: "\f115"; }
.flaticon-023-ice-hockey:before { content: "\f116"; }
.flaticon-024-water:before { content: "\f117"; }
.flaticon-025-american-football:before { content: "\f118"; }
.flaticon-026-curling:before { content: "\f119"; }
.flaticon-027-puck:before { content: "\f11a"; }
.flaticon-028-saddle:before { content: "\f11b"; }
.flaticon-029-golf:before { content: "\f11c"; }
.flaticon-030-pool-1:before { content: "\f11d"; }
.flaticon-031-app-1:before { content: "\f11e"; }
.flaticon-032-app:before { content: "\f11f"; }
.flaticon-033-pump:before { content: "\f120"; }
.flaticon-034-ipod:before { content: "\f121"; }
.flaticon-035-backpack-2:before { content: "\f122"; }
.flaticon-036-backpack-1:before { content: "\f123"; }
.flaticon-037-backpack:before { content: "\f124"; }
.flaticon-038-vitamins:before { content: "\f125"; }
.flaticon-039-punching-ball:before { content: "\f126"; }
.flaticon-040-weight:before { content: "\f127"; }
.flaticon-041-tennis-ball:before { content: "\f128"; }
.flaticon-042-soccer:before { content: "\f129"; }
.flaticon-043-muscles:before { content: "\f12a"; }
.flaticon-044-fitness-1:before { content: "\f12b"; }
.flaticon-045-fitness:before { content: "\f12c"; }
.flaticon-046-stopwatch-1:before { content: "\f12d"; }
.flaticon-047-stopwatch:before { content: "\f12e"; }
.flaticon-048-pool:before { content: "\f12f"; }
.flaticon-049-basketball:before { content: "\f130"; }
.flaticon-050-weightlifting:before { content: "\f131"; }