.elementor-7897 .elementor-element.elementor-element-7c0e29d {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-a146a69
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7897
  .elementor-element.elementor-element-a146a69
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-2f575de
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-c67c8e9
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7897
  .elementor-element.elementor-element-c67c8e9
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-9e984ce
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-213c74f
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7897
  .elementor-element.elementor-element-213c74f
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-3580291
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-cc716bb
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7897
  .elementor-element.elementor-element-cc716bb
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-d4143a5
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-ec0cd9e
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-f040059
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7897
  .elementor-element.elementor-element-4d27f30
  > .elementor-container {
  max-width: 620px;
}
.elementor-7897 .elementor-element.elementor-element-4d27f30 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-4fd10a7
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7897
  .elementor-element.elementor-element-4fd10a7
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7897
  .elementor-element.elementor-element-f90d0df
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-7897
  .elementor-element.elementor-element-f90d0df
  > .elementor-widget-container {
  margin: 0 0 -30px;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7897
  .elementor-element.elementor-element-65d50ba.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7897
  .elementor-element.elementor-element-65d50ba.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-7897
  .elementor-element.elementor-element-65d50ba.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7897
  .elementor-element.elementor-element-65d50ba.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-7897
  .elementor-element.elementor-element-65d50ba
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-7897 .elementor-element.elementor-element-69008bc {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-ee91ced
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7897
  .elementor-element.elementor-element-ee91ced
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7897
  .elementor-element.elementor-element-330d056
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7897 .elementor-element.elementor-element-a146a69 {
    width: 100%;
  }
  .elementor-7897 .elementor-element.elementor-element-ee91ced {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-7897 .elementor-element.elementor-element-7c0e29d {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-a146a69.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7897
    .elementor-element.elementor-element-a146a69
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-a146a69
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7897 .elementor-element.elementor-element-4d27f30 {
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-65d50ba
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7897
    .elementor-element.elementor-element-65d50ba
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7897 .elementor-element.elementor-element-69008bc {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-ee91ced.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7897
    .elementor-element.elementor-element-ee91ced
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-7897
    .elementor-element.elementor-element-ee91ced
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-7897 .elementor-element.elementor-element-7c0e29d {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-a146a69
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-c67c8e9
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7897
    .elementor-element.elementor-element-213c74f
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7897
    .elementor-element.elementor-element-cc716bb
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7897 .elementor-element.elementor-element-4d27f30 {
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-65d50ba
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7897
    .elementor-element.elementor-element-65d50ba
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7897 .elementor-element.elementor-element-69008bc {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7897
    .elementor-element.elementor-element-ee91ced
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
