.elementor-1620 .elementor-element.elementor-element-5fffbcc {
  margin-top: 45px;
  margin-bottom: 65px;
}
.elementor-1620 .elementor-element.elementor-element-1b6d358 {
  text-align: center;
}
.elementor-1620
  .elementor-element.elementor-element-1b6d358
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_6);
}
.elementor-1620
  .elementor-element.elementor-element-931a299
  > .elementor-container {
  min-height: 400px;
}
.elementor-1620 .elementor-element.elementor-element-931a299 {
  margin-top: 0;
  margin-bottom: 100px;
}
.elementor-bc-flex-widget
  .elementor-1620
  .elementor-element.elementor-element-12415df.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1620
  .elementor-element.elementor-element-12415df.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.78 * 100%);
}
.elementor-1620 .elementor-element.elementor-element-25e0034:after {
  content: "0.78";
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__thumbnail__link {
  width: 50%;
}
.elementor-1620 .elementor-element.elementor-element-25e0034 {
  --grid-row-gap: 60px;
}
.elementor-1620 .elementor-element.elementor-element-25e0034 .elementor-post {
  padding: 0;
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__text {
  padding: 70px 49px 70px 50px;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 0;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 0;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 0;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post:hover
  .elementor-post__thumbnail
  img {
  filter: brightness(105%) contrast(100%) saturate(100%) blur(0)
    hue-rotate(0deg);
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__title,
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__title
  a {
  font-family: kanit, Sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: none;
  line-height: 1em;
  letter-spacing: 1px;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__title {
  margin-bottom: 20px;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__meta-data {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: helvetica, Sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.elementor-1620
  .elementor-element.elementor-element-25e0034
  .elementor-post__excerpt
  p {
  font-family: helvetica, Sans-serif;
  font-size: 16px;
  line-height: 1.875em;
}
.elementor-1620 .elementor-element.elementor-element-a635f7d {
  margin-top: 0;
  margin-bottom: 95px;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.95 * 100%);
}
.elementor-1620 .elementor-element.elementor-element-717cc00:after {
  content: "0.95";
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-1620 .elementor-element.elementor-element-717cc00 {
  --grid-column-gap: 40px;
  --grid-row-gap: 40px;
}
.elementor-1620 .elementor-element.elementor-element-717cc00 .elementor-post {
  border-style: solid;
  border-width: 1px;
  border-color: var(--e-global-color-vamtam_accent_7);
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__text {
  padding: 30px 40px 40px;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 0;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 0;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 0;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post:hover
  .elementor-post__thumbnail
  img {
  filter: brightness(105%) contrast(100%) saturate(100%) blur(0)
    hue-rotate(0deg);
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__title,
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__title
  a {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: kanit, Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  line-height: 1.2em;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__title {
  margin-bottom: 20px;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__meta-data {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: helvetica, Sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.elementor-1620
  .elementor-element.elementor-element-717cc00
  .elementor-post__excerpt
  p {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_primary_font-font-family),
    Sans-serif;
  font-size: var(--e-global-typography-vamtam_primary_font-font-size);
  line-height: var(--e-global-typography-vamtam_primary_font-line-height);
}
.elementor-1620
  .elementor-element.elementor-element-dc8e008
  > .elementor-container {
  max-width: 1500px;
}
.elementor-1620
  .elementor-element.elementor-element-dc8e008
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-1620
  .elementor-element.elementor-element-dc8e008
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 78px;
}
.elementor-1620
  .elementor-element.elementor-element-dc8e008
  > .elementor-shape-bottom {
  z-index: 2;
  pointer-events: none;
}
.elementor-1620 .elementor-element.elementor-element-dc8e008 {
  padding: 0 0 100px;
}
.elementor-bc-flex-widget
  .elementor-1620
  .elementor-element.elementor-element-2b408c6.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-1620
  .elementor-element.elementor-element-2b408c6.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1620
  .elementor-element.elementor-element-2b408c6.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-1620
  .elementor-element.elementor-element-2b408c6
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-1620
  .elementor-element.elementor-element-69be8c7:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-69be8c7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-1620 .elementor-element.elementor-element-69be8c7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 0;
}
.elementor-1620
  .elementor-element.elementor-element-69be8c7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-1620
  .elementor-element.elementor-element-7be4bbd.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1620
  .elementor-element.elementor-element-7be4bbd.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1620
  .elementor-element.elementor-element-7be4bbd.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-1620
  .elementor-element.elementor-element-7be4bbd
  > .elementor-element-populated {
  padding: 0;
}
.elementor-1620
  .elementor-element.elementor-element-7a195ed
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
}
.elementor-1620
  .elementor-element.elementor-element-7a195ed
  > .elementor-widget-container {
  margin: 0 0 0 80px;
  padding: 2px 0 0;
}
.elementor-1620 .elementor-element.elementor-element-7a195ed {
  width: auto;
  max-width: auto;
}
.elementor-1620 .elementor-element.elementor-element-f69121e .elementor-button {
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
  fill: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-1620
  .elementor-element.elementor-element-f69121e
  .elementor-button:hover
  .elementor-button-text,
.elementor-1620
  .elementor-element.elementor-element-f69121e
  .elementor-button:focus
  .elementor-button-text {
  text-decoration: underline;
}
.elementor-1620
  .elementor-element.elementor-element-f69121e
  > .elementor-widget-container {
  margin: 0 0 0 5px;
  padding: 0;
}
.elementor-1620 .elementor-element.elementor-element-f69121e {
  width: auto;
  max-width: auto;
}
.elementor-1620
  .elementor-element.elementor-element-7b81213
  > .elementor-widget-container {
  padding: 60px 0 0;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-1620 .elementor-element.elementor-element-5fffbcc {
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .elementor-1620 .elementor-element.elementor-element-931a299 {
    margin-top: 0;
    margin-bottom: 80px;
    padding: 0 30px;
  }
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__thumbnail__link {
    width: 50%;
  }
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__title,
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__title
    a {
    font-size: 35px;
  }
  .elementor-1620 .elementor-element.elementor-element-a635f7d {
    margin-top: 0;
    margin-bottom: 80px;
    padding: 0 30px;
  }
  .elementor-1620
    .elementor-element.elementor-element-717cc00
    .elementor-post__excerpt
    p {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-1620
    .elementor-element.elementor-element-dc8e008
    > .elementor-shape-bottom
    svg {
    width: calc(100% + 1.3px);
    height: 36px;
  }
  .elementor-1620 .elementor-element.elementor-element-dc8e008 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 60px;
  }
  .elementor-1620
    .elementor-element.elementor-element-2b408c6
    > .elementor-element-populated {
    padding: 0 30px;
  }
  .elementor-1620 .elementor-element.elementor-element-69be8c7 {
    padding: 30px 0 0;
  }
  .elementor-1620
    .elementor-element.elementor-element-7be4bbd
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-1620
    .elementor-element.elementor-element-7a195ed
    > .elementor-widget-container {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 767px) {
  .elementor-1620 .elementor-element.elementor-element-5fffbcc {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  .elementor-1620 .elementor-element.elementor-element-1b6d358 {
    text-align: center;
  }
  .elementor-1620 .elementor-element.elementor-element-931a299 {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.9 * 100%);
  }
  .elementor-1620 .elementor-element.elementor-element-25e0034:after {
    content: "0.9";
  }
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__thumbnail__link {
    width: 100%;
  }
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__title,
  .elementor-1620
    .elementor-element.elementor-element-25e0034
    .elementor-post__title
    a {
    font-size: 30px;
  }
  .elementor-1620 .elementor-element.elementor-element-a635f7d {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .elementor-1620
    .elementor-element.elementor-element-717cc00
    .elementor-post__thumbnail__link {
    width: 100%;
  }
  .elementor-1620
    .elementor-element.elementor-element-717cc00
    .elementor-post__excerpt
    p {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-1620 .elementor-element.elementor-element-dc8e008 {
    padding: 0 20px 50px;
  }
  .elementor-1620
    .elementor-element.elementor-element-2b408c6
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-1620 .elementor-element.elementor-element-69be8c7 {
    padding: 20px 0 0;
  }
  .elementor-1620
    .elementor-element.elementor-element-7a195ed
    > .elementor-widget-container {
    margin: 0 0 0 20px;
  }
}
