.elementor-297
  .elementor-element.elementor-element-2d06c46
  > .elementor-container {
  max-width: 1040px;
}
.elementor-297 .elementor-element.elementor-element-2d06c46 {
  z-index: 0;
}
.elementor-297
  .elementor-element.elementor-element-a682040
  > .elementor-element-populated {
  padding: 0 60px 0 0;
}
.elementor-297 .elementor-element.elementor-element-6bb8a1c {
  text-align: left;
}
.elementor-297 .elementor-element.elementor-element-6bb8a1c img {
  width: 100%;
  height: 585px;
  object-fit: cover;
}
.elementor-297
  .elementor-element.elementor-element-6bb8a1c
  .vamtam-image-wrapper {
  width: 100%;
}
.elementor-bc-flex-widget
  .elementor-297
  .elementor-element.elementor-element-affc46c.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-297
  .elementor-element.elementor-element-affc46c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-297
  .elementor-element.elementor-element-affc46c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-297
  .elementor-element.elementor-element-affc46c
  > .elementor-element-populated {
  padding: 0 0 140px;
}
.elementor-297
  .elementor-element.elementor-element-448f2f0
  .elementor-icon-wrapper {
  text-align: left;
}
.elementor-297
  .elementor-element.elementor-element-448f2f0.elementor-view-stacked
  .elementor-icon {
  background-color: #d6fb00;
}
.elementor-297
  .elementor-element.elementor-element-448f2f0.elementor-view-framed
  .elementor-icon,
.elementor-297
  .elementor-element.elementor-element-448f2f0.elementor-view-default
  .elementor-icon {
  color: #d6fb00;
  border-color: #d6fb00;
}
.elementor-297
  .elementor-element.elementor-element-448f2f0.elementor-view-framed
  .elementor-icon,
.elementor-297
  .elementor-element.elementor-element-448f2f0.elementor-view-default
  .elementor-icon
  svg {
  fill: #d6fb00;
}
.elementor-297 .elementor-element.elementor-element-448f2f0 .elementor-icon {
  font-size: 66px;
}
.elementor-297 .elementor-element.elementor-element-448f2f0 .elementor-icon i,
.elementor-297
  .elementor-element.elementor-element-448f2f0
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-297
  .elementor-element.elementor-element-448f2f0
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-297 .elementor-element.elementor-element-78ea4d2 {
  text-align: left;
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-297
  .elementor-element.elementor-element-78ea4d2
  > .elementor-widget-container {
  margin: 0;
  padding: 0 80px 0 90px;
}
.elementor-297 .elementor-element.elementor-element-0c078c6 {
  text-align: left;
}
.elementor-297
  .elementor-element.elementor-element-0c078c6
  .elementor-heading-title {
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 14px;
}
.elementor-297
  .elementor-element.elementor-element-0c078c6
  > .elementor-widget-container {
  padding: 20px 0 0 90px;
}
.elementor-297
  .elementor-element.elementor-element-fa33e71
  .elementor-icon-wrapper {
  text-align: right;
}
.elementor-297
  .elementor-element.elementor-element-fa33e71.elementor-view-stacked
  .elementor-icon {
  background-color: #d6fb00;
}
.elementor-297
  .elementor-element.elementor-element-fa33e71.elementor-view-framed
  .elementor-icon,
.elementor-297
  .elementor-element.elementor-element-fa33e71.elementor-view-default
  .elementor-icon {
  color: #d6fb00;
  border-color: #d6fb00;
}
.elementor-297
  .elementor-element.elementor-element-fa33e71.elementor-view-framed
  .elementor-icon,
.elementor-297
  .elementor-element.elementor-element-fa33e71.elementor-view-default
  .elementor-icon
  svg {
  fill: #d6fb00;
}
.elementor-297 .elementor-element.elementor-element-fa33e71 .elementor-icon {
  font-size: 66px;
}
.elementor-297 .elementor-element.elementor-element-fa33e71 .elementor-icon i,
.elementor-297
  .elementor-element.elementor-element-fa33e71
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-297
  .elementor-element.elementor-element-fa33e71
  > .elementor-widget-container {
  margin: -30px 0 0;
  padding: 0;
}
@media (min-width: 768px) {
  .elementor-297 .elementor-element.elementor-element-a682040 {
    width: 45%;
  }
  .elementor-297 .elementor-element.elementor-element-affc46c {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  .elementor-297 .elementor-element.elementor-element-2d06c46 {
    padding: 0;
  }
  .elementor-297
    .elementor-element.elementor-element-a682040
    > .elementor-element-populated {
    padding: 0 30px 0 0;
  }
  .elementor-297 .elementor-element.elementor-element-6bb8a1c img {
    height: 450px;
    object-fit: cover;
  }
  .elementor-297
    .elementor-element.elementor-element-affc46c
    > .elementor-element-populated {
    padding: 0 0 60px;
  }
  .elementor-297 .elementor-element.elementor-element-78ea4d2 {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-297
    .elementor-element.elementor-element-78ea4d2
    > .elementor-widget-container {
    padding: 0 40px;
  }
  .elementor-297
    .elementor-element.elementor-element-0c078c6
    > .elementor-widget-container {
    padding: 20px 40px 0;
  }
}
@media (max-width: 767px) {
  .elementor-297 .elementor-element.elementor-element-2d06c46 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-297
    .elementor-element.elementor-element-a682040
    > .elementor-element-populated {
    margin: 0 0 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-297 .elementor-element.elementor-element-6bb8a1c {
    text-align: left;
  }
  .elementor-297 .elementor-element.elementor-element-6bb8a1c img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .elementor-297
    .elementor-element.elementor-element-6bb8a1c
    .vamtam-image-wrapper {
    width: 100%;
  }
  .elementor-bc-flex-widget
    .elementor-297
    .elementor-element.elementor-element-affc46c.elementor-column
    .elementor-widget-wrap {
    align-items: flex-end;
  }
  .elementor-297
    .elementor-element.elementor-element-affc46c.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
  }
  .elementor-297
    .elementor-element.elementor-element-affc46c
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-297 .elementor-element.elementor-element-78ea4d2 {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
    width: 100%;
    max-width: 100%;
  }
  .elementor-297
    .elementor-element.elementor-element-78ea4d2
    > .elementor-widget-container {
    padding: 0;
  }
  .elementor-297
    .elementor-element.elementor-element-0c078c6
    > .elementor-widget-container {
    margin: 20px 0 0;
    padding: 0;
  }
  .elementor-297
    .elementor-element.elementor-element-fa33e71
    > .elementor-widget-container {
    margin: -30px 0 0;
  }
}
