.elementor-7911 .elementor-element.elementor-element-98f8e41 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-208e417
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7911
  .elementor-element.elementor-element-208e417
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-f7d1649
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-0374e1a
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7911
  .elementor-element.elementor-element-0374e1a
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-f5dd080
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-2fd99bb
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7911
  .elementor-element.elementor-element-2fd99bb
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-05e79db
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-296d0e0
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7911
  .elementor-element.elementor-element-296d0e0
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-f123a7b
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-0731a7b
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-8a7b0cf
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7911
  .elementor-element.elementor-element-252d818
  > .elementor-container {
  max-width: 620px;
}
.elementor-7911 .elementor-element.elementor-element-252d818 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-b2b317f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7911
  .elementor-element.elementor-element-b2b317f
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7911
  .elementor-element.elementor-element-3081574
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-7911
  .elementor-element.elementor-element-3081574
  > .elementor-widget-container {
  margin: 0 0 -30px;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7911
  .elementor-element.elementor-element-5ce651b.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7911
  .elementor-element.elementor-element-5ce651b.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-7911
  .elementor-element.elementor-element-5ce651b.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7911
  .elementor-element.elementor-element-5ce651b.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-7911
  .elementor-element.elementor-element-5ce651b
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-7911 .elementor-element.elementor-element-d091b42 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-3315a6f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7911
  .elementor-element.elementor-element-3315a6f
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7911
  .elementor-element.elementor-element-93c8a2e
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7911 .elementor-element.elementor-element-208e417 {
    width: 100%;
  }
  .elementor-7911 .elementor-element.elementor-element-3315a6f {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-7911 .elementor-element.elementor-element-98f8e41 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-208e417.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7911
    .elementor-element.elementor-element-208e417
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-208e417
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7911 .elementor-element.elementor-element-252d818 {
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-5ce651b
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7911
    .elementor-element.elementor-element-5ce651b
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7911 .elementor-element.elementor-element-d091b42 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-3315a6f.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7911
    .elementor-element.elementor-element-3315a6f
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-7911
    .elementor-element.elementor-element-3315a6f
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-7911 .elementor-element.elementor-element-98f8e41 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-208e417
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-0374e1a
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7911
    .elementor-element.elementor-element-2fd99bb
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7911
    .elementor-element.elementor-element-296d0e0
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7911 .elementor-element.elementor-element-252d818 {
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-5ce651b
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7911
    .elementor-element.elementor-element-5ce651b
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7911 .elementor-element.elementor-element-d091b42 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7911
    .elementor-element.elementor-element-3315a6f
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
