.elementor-16769
  .elementor-element.elementor-element-1952221
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: space-evenly;
  align-items: space-evenly;
}
.elementor-16769
  .elementor-element.elementor-element-1952221:not(.elementor-motion-effects-element-type-background),
.elementor-16769
  .elementor-element.elementor-element-1952221
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-16769 .elementor-element.elementor-element-1952221 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5% 0%;
}
.elementor-16769
  .elementor-element.elementor-element-1952221
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16769
  .elementor-element.elementor-element-5eb9238.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-16769
  .elementor-element.elementor-element-5eb9238
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-vamtam_h4-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h4-font-size);
  font-weight: var(--e-global-typography-vamtam_h4-font-weight);
  text-transform: var(--e-global-typography-vamtam_h4-text-transform);
  line-height: var(--e-global-typography-vamtam_h4-line-height);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-vamtam_accent_5);
  fill: var(--e-global-color-vamtam_accent_5);
  padding-left: 2px;
  padding-right: 2px;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .e--pointer-framed
  .elementor-item:before,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .e--pointer-framed
  .elementor-item:after {
  border-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769 .elementor-element.elementor-element-8b823b4 {
  --e-nav-menu-horizontal-menu-item-margin: calc(130px / 2);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 130px;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-menu-toggle {
  color: var(--e-global-color-vamtam_accent_8);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-vamtam_accent_2);
  border-style: solid;
  border-width: 0 5px;
  border-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #02010100;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: kanit, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--dropdown
  a {
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: 0 !important;
}
.elementor-16769
  .elementor-element.elementor-element-8b823b4
  > .elementor-widget-container {
  margin: 0 0 100px;
}
.elementor-16769 .elementor-element.elementor-element-c1dc2c7 {
  text-align: center;
}
.elementor-16769
  .elementor-element.elementor-element-c1dc2c7
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_5);
}
.elementor-16769
  .elementor-element.elementor-element-c1dc2c7
  > .elementor-widget-container {
  margin: 4% 0%;
  padding: 0% 20%;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button-icon {
  font-size: 34px;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 10px;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 10px;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button {
  font-family: kanit, Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
  background-color: var(--e-global-color-vamtam_accent_1);
  padding: 13px 40px 8px 30px;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button
  .elementor-button-icon {
  fill: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button:hover
  .elementor-button-text,
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button:focus
  .elementor-button-text {
  text-decoration: underline;
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button:hover,
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  .elementor-button:focus {
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769
  .elementor-element.elementor-element-07b0da9
  > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-16769 .elementor-element.elementor-element-07b0da9 {
  z-index: 10;
}
.elementor-16769 .elementor-element.elementor-element-9f1aa0b {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 24px;
  --grid-column-gap: 0px;
  --grid-row-gap: 0px;
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-widget-container {
  text-align: center;
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon {
  background-color: #19191900;
  --icon-padding: 1em;
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon
  i {
  color: var(--e-global-color-vamtam_accent_5);
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-vamtam_accent_5);
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-16769
  .elementor-element.elementor-element-9f1aa0b
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
#elementor-popup-modal-16769 .dialog-message {
  width: 1280px;
  height: 100vh;
  align-items: center;
}
#elementor-popup-modal-16769 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: var(--e-global-color-vamtam_accent_2);
}
#elementor-popup-modal-16769 .dialog-close-button {
  display: flex;
  top: 34px;
  font-size: 20px;
}
#elementor-popup-modal-16769 .dialog-widget-content {
  animation-duration: 0.4s;
}
body:not(.rtl) #elementor-popup-modal-16769 .dialog-close-button {
  right: 98.2%;
}
body.rtl #elementor-popup-modal-16769 .dialog-close-button {
  left: 98.2%;
}
#elementor-popup-modal-16769 .dialog-close-button i {
  color: var(--e-global-color-vamtam_accent_5);
}
#elementor-popup-modal-16769 .dialog-close-button svg {
  fill: var(--e-global-color-vamtam_accent_5);
}
#elementor-popup-modal-16769 .dialog-close-button:hover i {
  color: var(--e-global-color-vamtam_accent_1);
}
@media (max-width: 1024px) {
  .elementor-16769 .elementor-element.elementor-element-1952221 {
    padding: 0 30px;
  }
  .elementor-16769
    .elementor-element.elementor-element-8b823b4
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-vamtam_h4-font-size);
    line-height: var(--e-global-typography-vamtam_h4-line-height);
  }
  .elementor-16769
    .elementor-element.elementor-element-07b0da9
    > .elementor-widget-container {
    padding: 20px 0 0 30px;
  }
}
@media (max-width: 767px) {
  .elementor-16769 .elementor-element.elementor-element-1952221 {
    padding: 0 20px;
  }
  .elementor-16769
    .elementor-element.elementor-element-8b823b4
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-vamtam_h4-font-size);
    line-height: var(--e-global-typography-vamtam_h4-line-height);
  }
  .elementor-16769
    .elementor-element.elementor-element-c1dc2c7
    > .elementor-widget-container {
    padding: 20px 0;
  }
  .elementor-16769
    .elementor-element.elementor-element-07b0da9
    > .elementor-widget-container {
    padding: 0;
  }
}
