.elementor-5942 .elementor-element.elementor-element-7ed364b {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
.elementor-5942
  .elementor-element.elementor-element-0a7b5b8
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5942
  .elementor-element.elementor-element-0a7b5b8
  > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-5942
  .elementor-element.elementor-element-4c7c8a7
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-493c541
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5942
  .elementor-element.elementor-element-493c541
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-678648c
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-fced57a
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5942
  .elementor-element.elementor-element-fced57a
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-f32e0ad
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-de74b5a
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5942
  .elementor-element.elementor-element-de74b5a
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-3ee7f22
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-072c0dc
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-0564407
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5942
  .elementor-element.elementor-element-13f19d1
  > .elementor-container {
  max-width: 620px;
}
.elementor-5942 .elementor-element.elementor-element-13f19d1 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0em 0em 0em 0em;
}
.elementor-5942
  .elementor-element.elementor-element-0b9b4d0
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5942
  .elementor-element.elementor-element-0b9b4d0
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5942
  .elementor-element.elementor-element-98e0f90
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: "Kanit", Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-5942
  .elementor-element.elementor-element-98e0f90
  > .elementor-widget-container {
  margin: 0 0 -30px 0;
  padding: 0 0 0 0;
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5942
  .elementor-element.elementor-element-71954dc.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5942
  .elementor-element.elementor-element-71954dc.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-5942
  .elementor-element.elementor-element-71954dc.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5942
  .elementor-element.elementor-element-71954dc.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-5942
  .elementor-element.elementor-element-71954dc
  > .elementor-widget-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.elementor-5942 .elementor-element.elementor-element-59eeafb {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
.elementor-5942
  .elementor-element.elementor-element-fea47ea
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5942
  .elementor-element.elementor-element-fea47ea
  > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-5942
  .elementor-element.elementor-element-24b00b0
  > .elementor-widget-container {
  margin: 0 0 0 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5942 .elementor-element.elementor-element-0a7b5b8 {
    width: 100%;
  }
  .elementor-5942 .elementor-element.elementor-element-fea47ea {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5942 .elementor-element.elementor-element-7ed364b {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-0a7b5b8.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5942
    .elementor-element.elementor-element-0a7b5b8
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-0a7b5b8
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
  .elementor-5942 .elementor-element.elementor-element-13f19d1 {
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-71954dc
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5942
    .elementor-element.elementor-element-71954dc
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5942 .elementor-element.elementor-element-59eeafb {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-fea47ea.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5942
    .elementor-element.elementor-element-fea47ea
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-5942
    .elementor-element.elementor-element-fea47ea
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
}
@media (max-width: 767px) {
  .elementor-5942 .elementor-element.elementor-element-7ed364b {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-0a7b5b8
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-493c541
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-fced57a
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-de74b5a
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5942 .elementor-element.elementor-element-13f19d1 {
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-71954dc
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5942
    .elementor-element.elementor-element-71954dc
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5942 .elementor-element.elementor-element-59eeafb {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }
  .elementor-5942
    .elementor-element.elementor-element-fea47ea
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
}
