.elementor-5936 .elementor-element.elementor-element-3dd469e {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
.elementor-5936
  .elementor-element.elementor-element-a372061
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5936
  .elementor-element.elementor-element-a372061
  > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-5936
  .elementor-element.elementor-element-0754a33
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-cd212ed
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5936
  .elementor-element.elementor-element-cd212ed
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-77db6d7
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-04e89d7
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5936
  .elementor-element.elementor-element-04e89d7
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-8cbcbbf
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-dc9d66a
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5936
  .elementor-element.elementor-element-dc9d66a
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-89b633b
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-65b1106
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-92d66cf
  > .elementor-widget-container {
  margin: 0 0 40px 0;
}
.elementor-5936
  .elementor-element.elementor-element-3d2b583
  > .elementor-container {
  max-width: 620px;
}
.elementor-5936 .elementor-element.elementor-element-3d2b583 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0em 0em 0em 0em;
}
.elementor-5936
  .elementor-element.elementor-element-b7b07e7
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5936
  .elementor-element.elementor-element-b7b07e7
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5936
  .elementor-element.elementor-element-05fe231
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: "Kanit", Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-5936
  .elementor-element.elementor-element-05fe231
  > .elementor-widget-container {
  margin: 0 0 -30px 0;
  padding: 0 0 0 0;
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5936
  .elementor-element.elementor-element-20116d2.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5936
  .elementor-element.elementor-element-20116d2.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-5936
  .elementor-element.elementor-element-20116d2.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5936
  .elementor-element.elementor-element-20116d2.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-5936
  .elementor-element.elementor-element-20116d2
  > .elementor-widget-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.elementor-5936 .elementor-element.elementor-element-6b705f9 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}
.elementor-5936
  .elementor-element.elementor-element-a67c129
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5936
  .elementor-element.elementor-element-a67c129
  > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-5936
  .elementor-element.elementor-element-40acdb1
  > .elementor-widget-container {
  margin: 0 0 0 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5936 .elementor-element.elementor-element-a372061 {
    width: 100%;
  }
  .elementor-5936 .elementor-element.elementor-element-a67c129 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5936 .elementor-element.elementor-element-3dd469e {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-a372061.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5936
    .elementor-element.elementor-element-a372061
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-a372061
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
  .elementor-5936 .elementor-element.elementor-element-3d2b583 {
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-20116d2
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5936
    .elementor-element.elementor-element-20116d2
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5936 .elementor-element.elementor-element-6b705f9 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-a67c129.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5936
    .elementor-element.elementor-element-a67c129
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-5936
    .elementor-element.elementor-element-a67c129
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
}
@media (max-width: 767px) {
  .elementor-5936 .elementor-element.elementor-element-3dd469e {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-a372061
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-cd212ed
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-04e89d7
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-dc9d66a
    > .elementor-widget-container {
    margin: 0 0 20px 0;
  }
  .elementor-5936 .elementor-element.elementor-element-3d2b583 {
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-20116d2
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5936
    .elementor-element.elementor-element-20116d2
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5936 .elementor-element.elementor-element-6b705f9 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }
  .elementor-5936
    .elementor-element.elementor-element-a67c129
    > .elementor-element-populated {
    margin: 0 0 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 0 0 0;
  }
}
