.elementor-5924 .elementor-element.elementor-element-828b889 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-3020c59
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5924
  .elementor-element.elementor-element-3020c59
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-1ed0f35
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-c5e55bd
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5924
  .elementor-element.elementor-element-c5e55bd
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-efbafa6
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-2ca4440
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5924
  .elementor-element.elementor-element-2ca4440
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-932e60a
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-6cb4eba
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5924
  .elementor-element.elementor-element-6cb4eba
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-f1d0f21
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-a346527
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-5e44c01
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5924
  .elementor-element.elementor-element-73b1b3c
  > .elementor-container {
  max-width: 620px;
}
.elementor-5924 .elementor-element.elementor-element-73b1b3c {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-9f8a4c4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5924
  .elementor-element.elementor-element-9f8a4c4
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5924
  .elementor-element.elementor-element-852074d
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-5924
  .elementor-element.elementor-element-852074d
  > .elementor-widget-container {
  margin: 0 0 -30px;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5924
  .elementor-element.elementor-element-c1cddbb.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-5924
  .elementor-element.elementor-element-c1cddbb
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-5924 .elementor-element.elementor-element-b26c539 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-175c1e3
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5924
  .elementor-element.elementor-element-175c1e3
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-5924
  .elementor-element.elementor-element-ecaeec9
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5924 .elementor-element.elementor-element-3020c59 {
    width: 100%;
  }
  .elementor-5924 .elementor-element.elementor-element-175c1e3 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5924 .elementor-element.elementor-element-828b889 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-3020c59.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5924
    .elementor-element.elementor-element-3020c59
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-3020c59
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-5924 .elementor-element.elementor-element-73b1b3c {
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-c1cddbb
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5924
    .elementor-element.elementor-element-c1cddbb
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5924 .elementor-element.elementor-element-b26c539 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-175c1e3.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5924
    .elementor-element.elementor-element-175c1e3
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-5924
    .elementor-element.elementor-element-175c1e3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-5924 .elementor-element.elementor-element-828b889 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-3020c59
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-c5e55bd
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5924
    .elementor-element.elementor-element-2ca4440
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5924
    .elementor-element.elementor-element-6cb4eba
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5924 .elementor-element.elementor-element-73b1b3c {
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-c1cddbb
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5924
    .elementor-element.elementor-element-c1cddbb
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5924 .elementor-element.elementor-element-b26c539 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-5924
    .elementor-element.elementor-element-175c1e3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
