.elementor-7916 .elementor-element.elementor-element-6185e74 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-3f9c19f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7916
  .elementor-element.elementor-element-3f9c19f
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-191bea8
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-fb416bb
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7916
  .elementor-element.elementor-element-fb416bb
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-d63ba46
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-537b64f
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7916
  .elementor-element.elementor-element-537b64f
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-25ca4f4
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-0a2452f
  .elementor-heading-title {
  text-transform: none;
}
.elementor-7916
  .elementor-element.elementor-element-0a2452f
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-2a861c0
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-93e8e36
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-49e3abe
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-7916
  .elementor-element.elementor-element-3675666
  > .elementor-container {
  max-width: 620px;
}
.elementor-7916 .elementor-element.elementor-element-3675666 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-6513923
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7916
  .elementor-element.elementor-element-6513923
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7916
  .elementor-element.elementor-element-f1bf154
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-7916
  .elementor-element.elementor-element-f1bf154
  > .elementor-widget-container {
  margin: 0 0 -30px;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:before,
body
  .elementor-7916
  .elementor-element.elementor-element-1cfaab1.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-7916
  .elementor-element.elementor-element-1cfaab1
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-7916 .elementor-element.elementor-element-d706015 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-29fd4f3
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-7916
  .elementor-element.elementor-element-29fd4f3
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-7916
  .elementor-element.elementor-element-c2735e7
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7916 .elementor-element.elementor-element-3f9c19f {
    width: 100%;
  }
  .elementor-7916 .elementor-element.elementor-element-29fd4f3 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-7916 .elementor-element.elementor-element-6185e74 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-3f9c19f.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7916
    .elementor-element.elementor-element-3f9c19f
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-3f9c19f
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7916 .elementor-element.elementor-element-3675666 {
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-1cfaab1
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7916
    .elementor-element.elementor-element-1cfaab1
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7916 .elementor-element.elementor-element-d706015 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-29fd4f3.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-7916
    .elementor-element.elementor-element-29fd4f3
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-7916
    .elementor-element.elementor-element-29fd4f3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-7916 .elementor-element.elementor-element-6185e74 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-3f9c19f
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-fb416bb
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7916
    .elementor-element.elementor-element-537b64f
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7916
    .elementor-element.elementor-element-0a2452f
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-7916 .elementor-element.elementor-element-3675666 {
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-1cfaab1
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-7916
    .elementor-element.elementor-element-1cfaab1
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-7916 .elementor-element.elementor-element-d706015 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-7916
    .elementor-element.elementor-element-29fd4f3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
