.elementor-221 .elementor-element.elementor-element-28a967c {
  padding: 0 0 10px;
}
.elementor-221
  .elementor-element.elementor-element-de1859e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-221
  .elementor-element.elementor-element-de1859e
  > .elementor-element-populated {
  padding: 0;
}
.elementor-221
  .elementor-element.elementor-element-14a6252
  .elementor-icon-wrapper {
  text-align: left;
}
.elementor-221
  .elementor-element.elementor-element-14a6252.elementor-view-stacked
  .elementor-icon {
  background-color: #d6fb00;
}
.elementor-221
  .elementor-element.elementor-element-14a6252.elementor-view-framed
  .elementor-icon,
.elementor-221
  .elementor-element.elementor-element-14a6252.elementor-view-default
  .elementor-icon {
  color: #d6fb00;
  border-color: #d6fb00;
}
.elementor-221
  .elementor-element.elementor-element-14a6252.elementor-view-framed
  .elementor-icon,
.elementor-221
  .elementor-element.elementor-element-14a6252.elementor-view-default
  .elementor-icon
  svg {
  fill: #d6fb00;
}
.elementor-221 .elementor-element.elementor-element-14a6252 .elementor-icon i,
.elementor-221
  .elementor-element.elementor-element-14a6252
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-221
  .elementor-element.elementor-element-14a6252
  > .elementor-widget-container {
  padding: 0;
}
.elementor-221
  .elementor-element.elementor-element-49e10b1
  .elementor-heading-title {
  color: #5e5e5e;
  font-family: var(--e-global-typography-19f8d25-font-family), Sans-serif;
  font-size: var(--e-global-typography-19f8d25-font-size);
  line-height: var(--e-global-typography-19f8d25-line-height);
  letter-spacing: var(--e-global-typography-19f8d25-letter-spacing);
  word-spacing: var(--e-global-typography-19f8d25-word-spacing);
}
.elementor-221
  .elementor-element.elementor-element-49e10b1
  > .elementor-widget-container {
  padding: 0 0 6px;
}
.elementor-bc-flex-widget
  .elementor-221
  .elementor-element.elementor-element-cf9d887.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-221
  .elementor-element.elementor-element-cf9d887.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-221
  .elementor-element.elementor-element-cf9d887.elementor-column
  > .elementor-widget-wrap {
  justify-content: space-between;
}
.elementor-221
  .elementor-element.elementor-element-cf9d887
  > .elementor-element-populated {
  padding: 30px 80px 0 0;
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(7px / 2);
  margin-left: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-7px / 2);
  margin-left: calc(-7px / 2);
}
body.rtl
  .elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-7px / 2);
}
body:not(.rtl)
  .elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-vamtam_accent_3);
}
.elementor-221 .elementor-element.elementor-element-0ed7f18 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  width: auto;
  max-width: auto;
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-text {
  color: var(--e-global-color-vamtam_accent_7);
  padding-left: 15px;
}
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-221
  .elementor-element.elementor-element-0ed7f18
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-vamtam_primary_font-font-family),
    Sans-serif;
  font-size: var(--e-global-typography-vamtam_primary_font-font-size);
  line-height: var(--e-global-typography-vamtam_primary_font-line-height);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(7px / 2);
  margin-left: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-7px / 2);
  margin-left: calc(-7px / 2);
}
body.rtl
  .elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-7px / 2);
}
body:not(.rtl)
  .elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-vamtam_accent_3);
}
.elementor-221 .elementor-element.elementor-element-7b29056 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  width: auto;
  max-width: auto;
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-text {
  color: var(--e-global-color-vamtam_accent_7);
  padding-left: 15px;
}
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-221
  .elementor-element.elementor-element-7b29056
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-vamtam_primary_font-font-family),
    Sans-serif;
  font-size: var(--e-global-typography-vamtam_primary_font-font-size);
  line-height: var(--e-global-typography-vamtam_primary_font-line-height);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(7px / 2);
  margin-left: calc(7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-7px / 2);
  margin-left: calc(-7px / 2);
}
body.rtl
  .elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-7px / 2);
}
body:not(.rtl)
  .elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-7px / 2);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-vamtam_accent_3);
}
.elementor-221 .elementor-element.elementor-element-79a5c18 {
  --e-icon-list-icon-size: 18px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  width: auto;
  max-width: auto;
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-text {
  color: var(--e-global-color-vamtam_accent_7);
  padding-left: 15px;
}
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-221
  .elementor-element.elementor-element-79a5c18
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-vamtam_primary_font-font-family),
    Sans-serif;
  font-size: var(--e-global-typography-vamtam_primary_font-font-size);
  line-height: var(--e-global-typography-vamtam_primary_font-line-height);
}
@media (min-width: 768px) {
  .elementor-221 .elementor-element.elementor-element-de1859e {
    width: 19.219%;
  }
  .elementor-221 .elementor-element.elementor-element-cf9d887 {
    width: 80.781%;
  }
}
@media (max-width: 1024px) {
  .elementor-221
    .elementor-element.elementor-element-49e10b1
    .elementor-heading-title {
    font-size: var(--e-global-typography-19f8d25-font-size);
    line-height: var(--e-global-typography-19f8d25-line-height);
    letter-spacing: var(--e-global-typography-19f8d25-letter-spacing);
    word-spacing: var(--e-global-typography-19f8d25-word-spacing);
  }
  .elementor-221
    .elementor-element.elementor-element-0ed7f18
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-0ed7f18
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-221
    .elementor-element.elementor-element-7b29056
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-7b29056
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-221
    .elementor-element.elementor-element-79a5c18
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-79a5c18
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-221
    .elementor-element.elementor-element-79a5c18
    > .elementor-widget-container {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .elementor-221
    .elementor-element.elementor-element-49e10b1
    .elementor-heading-title {
    font-size: var(--e-global-typography-19f8d25-font-size);
    line-height: var(--e-global-typography-19f8d25-line-height);
    letter-spacing: var(--e-global-typography-19f8d25-letter-spacing);
    word-spacing: var(--e-global-typography-19f8d25-word-spacing);
  }
  .elementor-221
    .elementor-element.elementor-element-cf9d887
    > .elementor-element-populated {
    padding: 20px 0 0;
  }
  .elementor-221
    .elementor-element.elementor-element-0ed7f18
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-0ed7f18
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-221
    .elementor-element.elementor-element-7b29056
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-7b29056
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-221
    .elementor-element.elementor-element-79a5c18
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-221
    .elementor-element.elementor-element-79a5c18
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
}
