.elementor-5831 .elementor-element.elementor-element-7a635d73 {
  margin-top: 45px;
  margin-bottom: 65px;
}
.elementor-5831 .elementor-element.elementor-element-7486ccae {
  text-align: center;
}
.elementor-5831
  .elementor-element.elementor-element-7486ccae
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_6);
}
.elementor-5831 .elementor-element.elementor-element-250c4bb4 {
  margin-top: 0;
  margin-bottom: 95px;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.95 * 100%);
}
.elementor-5831 .elementor-element.elementor-element-fb7a84a:after {
  content: "0.95";
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-5831 .elementor-element.elementor-element-fb7a84a {
  --grid-column-gap: 40px;
  --grid-row-gap: 40px;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 0;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 0;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 0;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__title,
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__title
  a {
  color: #000;
  font-family: "Kanit", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  line-height: 1.2em;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__title {
  margin-bottom: 20px;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__meta-data {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: "Helvetica", Sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.elementor-5831
  .elementor-element.elementor-element-fb7a84a
  .elementor-post__excerpt
  p {
  font-family: var(--e-global-typography-vamtam_primary_font-font-family),
    Sans-serif;
  font-size: var(--e-global-typography-vamtam_primary_font-font-size);
  line-height: var(--e-global-typography-vamtam_primary_font-line-height);
}
.elementor-5831
  .elementor-element.elementor-element-27fd8aa
  > .elementor-container {
  max-width: 1500px;
}
.elementor-5831
  .elementor-element.elementor-element-27fd8aa
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5831
  .elementor-element.elementor-element-27fd8aa
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 78px;
}
.elementor-5831
  .elementor-element.elementor-element-27fd8aa
  > .elementor-shape-bottom {
  z-index: 2;
  pointer-events: none;
}
.elementor-5831 .elementor-element.elementor-element-27fd8aa {
  padding: 0 0 100px 0;
}
.elementor-bc-flex-widget
  .elementor-5831
  .elementor-element.elementor-element-6dbce25.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-5831
  .elementor-element.elementor-element-6dbce25.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-5831
  .elementor-element.elementor-element-6dbce25.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-5831
  .elementor-element.elementor-element-6dbce25
  > .elementor-element-populated {
  margin: 0 0 0 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 0 0 0;
}
.elementor-5831
  .elementor-element.elementor-element-f9d6b67:not(.elementor-motion-effects-element-type-background),
.elementor-5831
  .elementor-element.elementor-element-f9d6b67
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5831 .elementor-element.elementor-element-f9d6b67 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 0 0;
}
.elementor-5831
  .elementor-element.elementor-element-f9d6b67
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-5831
  .elementor-element.elementor-element-7b58ddc.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5831
  .elementor-element.elementor-element-7b58ddc.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5831
  .elementor-element.elementor-element-7b58ddc.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-5831
  .elementor-element.elementor-element-7b58ddc
  > .elementor-element-populated {
  padding: 0 0 0 0;
}
.elementor-5831
  .elementor-element.elementor-element-eb9602d
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: "Kanit", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
}
.elementor-5831
  .elementor-element.elementor-element-eb9602d
  > .elementor-widget-container {
  margin: 0 0 0 80px;
  padding: 2px 0 0 0;
}
.elementor-5831 .elementor-element.elementor-element-eb9602d {
  width: auto;
  max-width: auto;
}
.elementor-5831 .elementor-element.elementor-element-eac37ef .elementor-button {
  font-family: "Kanit", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
  fill: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5831
  .elementor-element.elementor-element-eac37ef
  .elementor-button:hover
  .elementor-button-text,
.elementor-5831
  .elementor-element.elementor-element-eac37ef
  .elementor-button:focus
  .elementor-button-text {
  text-decoration: underline;
}
.elementor-5831
  .elementor-element.elementor-element-eac37ef
  > .elementor-widget-container {
  margin: 0 0 0 5px;
  padding: 0 0 0 0;
}
.elementor-5831 .elementor-element.elementor-element-eac37ef {
  width: auto;
  max-width: auto;
}
.elementor-5831
  .elementor-element.elementor-element-df24fb7
  > .elementor-widget-container {
  padding: 60px 0 0 0;
}
@media (max-width: 1024px) {
  .elementor-5831 .elementor-element.elementor-element-7a635d73 {
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 0 30px 0 30px;
  }
  .elementor-5831 .elementor-element.elementor-element-250c4bb4 {
    margin-top: 0;
    margin-bottom: 80px;
    padding: 0 30px 0 30px;
  }
  .elementor-5831
    .elementor-element.elementor-element-fb7a84a
    .elementor-post__excerpt
    p {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-5831
    .elementor-element.elementor-element-27fd8aa
    > .elementor-shape-bottom
    svg {
    width: calc(100% + 1.3px);
    height: 36px;
  }
  .elementor-5831 .elementor-element.elementor-element-27fd8aa {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 60px 0;
  }
  .elementor-5831
    .elementor-element.elementor-element-6dbce25
    > .elementor-element-populated {
    padding: 0 30px 0 30px;
  }
  .elementor-5831 .elementor-element.elementor-element-f9d6b67 {
    padding: 30px 0 0 0;
  }
  .elementor-5831
    .elementor-element.elementor-element-7b58ddc
    > .elementor-element-populated {
    padding: 0 0 0 0;
  }
  .elementor-5831
    .elementor-element.elementor-element-eb9602d
    > .elementor-widget-container {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 767px) {
  .elementor-5831 .elementor-element.elementor-element-7a635d73 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px 0 20px;
  }
  .elementor-5831 .elementor-element.elementor-element-7486ccae {
    text-align: center;
  }
  .elementor-5831 .elementor-element.elementor-element-250c4bb4 {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0 20px 0 20px;
  }
  .elementor-5831
    .elementor-element.elementor-element-fb7a84a
    .elementor-post__thumbnail__link {
    width: 100%;
  }
  .elementor-5831
    .elementor-element.elementor-element-fb7a84a
    .elementor-post__excerpt
    p {
    font-size: var(--e-global-typography-vamtam_primary_font-font-size);
    line-height: var(--e-global-typography-vamtam_primary_font-line-height);
  }
  .elementor-5831 .elementor-element.elementor-element-27fd8aa {
    padding: 0 20px 50px 20px;
  }
  .elementor-5831
    .elementor-element.elementor-element-6dbce25
    > .elementor-element-populated {
    padding: 0 0 0 0;
  }
  .elementor-5831 .elementor-element.elementor-element-f9d6b67 {
    padding: 20px 0 0 0;
  }
  .elementor-5831
    .elementor-element.elementor-element-eb9602d
    > .elementor-widget-container {
    margin: 0 0 0 20px;
  }
}
