.elementor-5930 .elementor-element.elementor-element-43cdd5f {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-ccfa695
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5930
  .elementor-element.elementor-element-ccfa695
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-da7264a
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-395d545
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5930
  .elementor-element.elementor-element-395d545
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-341c7da
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-fc8299e
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5930
  .elementor-element.elementor-element-fc8299e
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-c6e6161
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-fa6a4f8
  .elementor-heading-title {
  text-transform: none;
}
.elementor-5930
  .elementor-element.elementor-element-fa6a4f8
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-12ec7c5
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-ea4c480
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-0e46b9e
  > .elementor-widget-container {
  margin: 0 0 40px;
}
.elementor-5930
  .elementor-element.elementor-element-b9c1ab9
  > .elementor-container {
  max-width: 620px;
}
.elementor-5930 .elementor-element.elementor-element-b9c1ab9 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-b094c4e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5930
  .elementor-element.elementor-element-b094c4e
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5930
  .elementor-element.elementor-element-a6f5eb5
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 120px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.53em;
}
.elementor-5930
  .elementor-element.elementor-element-a6f5eb5
  > .elementor-widget-container {
  margin: 0 0 -30px;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__content {
  color: var(--e-global-color-vamtam_accent_6);
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__content
  + footer {
  margin-top: 20px;
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__author {
  color: var(--e-global-color-vamtam_accent_2);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button {
  font-size: calc(1.9px * 10);
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
}
body:not(.rtl)
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:before {
  border-right-color: var(--e-global-color-vamtam_accent_1);
  border-left-color: var(--e-global-color-vamtam_accent_1);
}
body.rtl
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:before {
  border-left-color: var(--e-global-color-vamtam_accent_1);
  border-right-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:hover {
  background-color: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_1);
}
body:not(.rtl)
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:hover:before,
body
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed.elementor-blockquote--align-left
  .elementor-blockquote__tweet-button:hover:before {
  border-right-color: var(--e-global-color-vamtam_accent_2);
  border-left-color: var(--e-global-color-vamtam_accent_2);
}
body.rtl
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:before,
body
  .elementor-5930
  .elementor-element.elementor-element-7ed9eed.elementor-blockquote--align-right
  .elementor-blockquote__tweet-button:hover:before {
  border-left-color: var(--e-global-color-vamtam_accent_2);
  border-right-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  .elementor-blockquote__tweet-button:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_1);
}
.elementor-5930
  .elementor-element.elementor-element-7ed9eed
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}
.elementor-5930 .elementor-element.elementor-element-f60863c {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-70c9c5d
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-5930
  .elementor-element.elementor-element-70c9c5d
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-5930
  .elementor-element.elementor-element-d23e6aa
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5930 .elementor-element.elementor-element-ccfa695 {
    width: 100%;
  }
  .elementor-5930 .elementor-element.elementor-element-70c9c5d {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5930 .elementor-element.elementor-element-43cdd5f {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-ccfa695.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5930
    .elementor-element.elementor-element-ccfa695
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-ccfa695
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-5930 .elementor-element.elementor-element-b9c1ab9 {
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-7ed9eed
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5930
    .elementor-element.elementor-element-7ed9eed
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5930 .elementor-element.elementor-element-f60863c {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-70c9c5d.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-5930
    .elementor-element.elementor-element-70c9c5d
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
  }
  .elementor-5930
    .elementor-element.elementor-element-70c9c5d
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .elementor-5930 .elementor-element.elementor-element-43cdd5f {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-ccfa695
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-395d545
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5930
    .elementor-element.elementor-element-fc8299e
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5930
    .elementor-element.elementor-element-fa6a4f8
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-5930 .elementor-element.elementor-element-b9c1ab9 {
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-7ed9eed
    .elementor-blockquote__content {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-5930
    .elementor-element.elementor-element-7ed9eed
    .elementor-blockquote__author {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-5930 .elementor-element.elementor-element-f60863c {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-5930
    .elementor-element.elementor-element-70c9c5d
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
}
