.elementor-18743
  .elementor-element.elementor-element-414a754f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-18743 .elementor-element.elementor-element-63b4c46d {
  text-align: center;
}
.elementor-18743
  .elementor-element.elementor-element-63b4c46d
  > .elementor-widget-container {
  margin: 45px 0 40px;
}
.elementor-18743
  .elementor-element.elementor-element-60790fb9
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-18743
  .elementor-element.elementor-element-60790fb9
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 78px;
}
.elementor-18743
  .elementor-element.elementor-element-60790fb9
  > .elementor-shape-bottom {
  z-index: 2;
  pointer-events: none;
}
.elementor-18743 .elementor-element.elementor-element-60790fb9 {
  padding: 40px 30px 160px;
}
.elementor-bc-flex-widget
  .elementor-18743
  .elementor-element.elementor-element-7e46fec.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-18743
  .elementor-element.elementor-element-7e46fec.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-18743
  .elementor-element.elementor-element-7e46fec.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-18743
  .elementor-element.elementor-element-7e46fec
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products {
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product {
  text-align: left;
  padding: 0;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .elementor-widget-container
  ul.products
  li.product
  .vamtam-product-content
  .woocommerce-loop-product__title {
  padding-top: 25px;
  min-height: 0;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .woocommerce-loop-product__title,
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .woocommerce-loop-category__title {
  font-family: kanit, Sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  line-height: 1.1em;
  letter-spacing: 0;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .woocommerce-loop-product__title {
  margin-bottom: 5px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .woocommerce-loop-category__title {
  margin-bottom: 5px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .star-rating {
  color: var(--e-global-color-vamtam_accent_6);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .star-rating::before {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price
  ins {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price
  ins
  .amount {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price
  del {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price
  del
  .amount {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .price
  del {
  font-family: var(--e-global-typography-vamtam_h6-font-family), Sans-serif;
  font-size: var(--e-global-typography-vamtam_h6-font-size);
  font-weight: var(--e-global-typography-vamtam_h6-font-weight);
  text-transform: var(--e-global-typography-vamtam_h6-text-transform);
  line-height: var(--e-global-typography-vamtam_h6-line-height);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .button {
  background-color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  border-radius: 0 0 0 0;
  padding: 13px 50px 15px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  .added_to_cart {
  background-color: var(--e-global-color-vamtam_accent_1);
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
  border-radius: 0 0 0 0;
  padding: 13px 50px 15px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  .button:hover {
  color: var(--e-global-color-vamtam_accent_5);
  background-color: var(--e-global-color-vamtam_accent_6);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  .added_to_cart:hover {
  color: var(--e-global-color-vamtam_accent_5);
  background-color: var(--e-global-color-vamtam_accent_6);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .elementor-widget-container
  ul.products
  li.product
  .vamtam-product-content {
  padding-bottom: 20px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  .products
  .product
  .added_to_cart {
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination {
  margin-top: 50px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .navigation.vamtam-pagination-wrapper {
  margin-top: 50px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul {
  border-color: #19191900;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li {
  border-right-color: #19191900;
  border-left-color: #19191900;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .navigation.vamtam-pagination-wrapper
  .page-numbers {
  border-color: #19191900;
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li
  a,
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li
  span {
  padding: 50px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li
  a {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li
  a:hover {
  color: var(--e-global-color-vamtam_accent_2);
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .navigation.vamtam-pagination-wrapper
  .page-numbers:hover {
  color: var(--e-global-color-vamtam_accent_2);
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  nav.woocommerce-pagination
  ul
  li
  span.current {
  color: var(--e-global-color-vamtam_accent_2);
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  .navigation.vamtam-pagination-wrapper
  .page-numbers.current {
  color: var(--e-global-color-vamtam_accent_2);
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda.elementor-wc-products
  ul.products
  li.product
  span.onsale {
  display: block;
  color: var(--e-global-color-vamtam_accent_2);
  background-color: var(--e-global-color-vamtam_accent_1);
  font-size: 11px;
  font-weight: 600;
  border-radius: 0;
  min-width: 86px;
  min-height: 30px;
  line-height: 30px;
  left: auto;
  right: 0;
  margin: 20px;
}
.elementor-18743
  .elementor-element.elementor-element-77f5adda
  > .elementor-widget-container {
  margin: 0;
}
.elementor-18743
  .elementor-element.elementor-element-788591fb:not(.elementor-motion-effects-element-type-background),
.elementor-18743
  .elementor-element.elementor-element-788591fb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-18743 .elementor-element.elementor-element-788591fb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0 0;
}
.elementor-18743
  .elementor-element.elementor-element-788591fb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-18743
  .elementor-element.elementor-element-6a4895b4.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-18743
  .elementor-element.elementor-element-6a4895b4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-18743
  .elementor-element.elementor-element-6a4895b4.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-18743
  .elementor-element.elementor-element-6a4895b4
  > .elementor-element-populated {
  padding: 0;
}
.elementor-18743
  .elementor-element.elementor-element-7c6cdbde
  .elementor-heading-title {
  color: var(--e-global-color-vamtam_accent_3);
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
}
.elementor-18743
  .elementor-element.elementor-element-7c6cdbde
  > .elementor-widget-container {
  margin: 0 0 0 80px;
  padding: 2px 0 0;
}
.elementor-18743 .elementor-element.elementor-element-7c6cdbde {
  width: auto;
  max-width: auto;
}
.elementor-18743
  .elementor-element.elementor-element-183ad061
  .elementor-button {
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1em;
  fill: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_1);
}
.elementor-18743
  .elementor-element.elementor-element-183ad061
  .elementor-button:hover
  .elementor-button-text,
.elementor-18743
  .elementor-element.elementor-element-183ad061
  .elementor-button:focus
  .elementor-button-text {
  text-decoration: underline;
}
.elementor-18743
  .elementor-element.elementor-element-183ad061
  > .elementor-widget-container {
  margin: 0 0 0 5px;
  padding: 0;
}
.elementor-18743 .elementor-element.elementor-element-183ad061 {
  width: auto;
  max-width: auto;
}
.elementor-18743
  .elementor-element.elementor-element-a2ad66a
  > .elementor-widget-container {
  padding: 60px 0 0;
}
@media (max-width: 1024px) {
  .elementor-18743 .elementor-element.elementor-element-7bd3b9bc {
    padding: 0 30px;
  }
  .elementor-18743
    .elementor-element.elementor-element-63b4c46d
    > .elementor-widget-container {
    margin: 45px 0 10px;
  }
  .elementor-18743
    .elementor-element.elementor-element-60790fb9
    > .elementor-shape-bottom
    svg {
    width: calc(100% + 1.3px);
    height: 36px;
  }
  .elementor-18743 .elementor-element.elementor-element-60790fb9 {
    padding: 10px 30px 70px;
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products
    li.product
    .price {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products
    li.product
    .price
    del {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-18743 .elementor-element.elementor-element-788591fb {
    padding: 30px 0 0;
  }
  .elementor-18743
    .elementor-element.elementor-element-6a4895b4
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-18743
    .elementor-element.elementor-element-7c6cdbde
    > .elementor-widget-container {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 767px) {
  .elementor-18743 .elementor-element.elementor-element-7bd3b9bc {
    padding: 0 20px;
  }
  .elementor-18743
    .elementor-element.elementor-element-63b4c46d
    > .elementor-widget-container {
    margin: 40px 0 15px;
  }
  .elementor-18743 .elementor-element.elementor-element-60790fb9 {
    padding: 10px 20px 80px;
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products
    li.product
    .price {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-18743
    .elementor-element.elementor-element-77f5adda.elementor-wc-products
    ul.products
    li.product
    .price
    del {
    font-size: var(--e-global-typography-vamtam_h6-font-size);
    line-height: var(--e-global-typography-vamtam_h6-line-height);
  }
  .elementor-18743 .elementor-element.elementor-element-788591fb {
    padding: 20px 0 0;
  }
  .elementor-18743
    .elementor-element.elementor-element-7c6cdbde
    > .elementor-widget-container {
    margin: 0 0 0 20px;
  }
}
