.elementor-3652
  .elementor-element.elementor-element-78850c0f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-3652
  .elementor-element.elementor-element-78850c0f
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-3652 .elementor-element.elementor-element-33df472 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-3652 .elementor-element.elementor-element-33df472 img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 26px 26px 26px 26px;
}
.elementor-3652
  .elementor-element.elementor-element-33df472
  .vamtam-image-wrapper {
  width: 64px;
}
.elementor-3652
  .elementor-element.elementor-element-33df472
  > .elementor-widget-container {
  margin: 0 0 10px;
}
.elementor-3652 .elementor-element.elementor-element-1e1d8e34 {
  text-align: center;
}
.elementor-3652
  .elementor-element.elementor-element-1e1d8e34
  .elementor-heading-title {
  font-family: kanit, Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}
.elementor-3652 .elementor-element.elementor-element-476a32b3 {
  text-align: center;
}
.elementor-3652
  .elementor-element.elementor-element-476a32b3
  .elementor-star-rating {
  font-size: 11px;
}
body:not(.rtl)
  .elementor-3652
  .elementor-element.elementor-element-476a32b3
  .elementor-star-rating
  i:not(:last-of-type) {
  margin-right: 3px;
}
body.rtl
  .elementor-3652
  .elementor-element.elementor-element-476a32b3
  .elementor-star-rating
  i:not(:last-of-type) {
  margin-left: 3px;
}
.elementor-3652
  .elementor-element.elementor-element-476a32b3
  .elementor-star-rating
  i:before {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-3652
  .elementor-element.elementor-element-476a32b3
  .elementor-star-rating
  i {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-3652
  .elementor-element.elementor-element-476a32b3
  > .elementor-widget-container {
  margin: 0 0 15px;
}
.elementor-3652 .elementor-element.elementor-element-395bf4ba {
  text-align: center;
  font-family: var(--e-global-typography-b5e5d82-font-family), Sans-serif;
  font-size: var(--e-global-typography-b5e5d82-font-size);
  font-weight: var(--e-global-typography-b5e5d82-font-weight);
  text-transform: var(--e-global-typography-b5e5d82-text-transform);
  line-height: var(--e-global-typography-b5e5d82-line-height);
  letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
  word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
}
.elementor-3652
  .elementor-element.elementor-element-395bf4ba
  > .elementor-widget-container {
  margin: 0;
}
@media (max-width: 1024px) {
  .elementor-3652 .elementor-element.elementor-element-395bf4ba {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-3652 .elementor-element.elementor-element-7127242a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-3652 .elementor-element.elementor-element-395bf4ba {
    font-size: var(--e-global-typography-b5e5d82-font-size);
    line-height: var(--e-global-typography-b5e5d82-line-height);
    letter-spacing: var(--e-global-typography-b5e5d82-letter-spacing);
    word-spacing: var(--e-global-typography-b5e5d82-word-spacing);
  }
  .elementor-3652
    .elementor-element.elementor-element-395bf4ba
    > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }
}
