@font-face {
  font-family: theme-icons;
  src: url(../../../../../../../../uploads/elementor/custom-icons/theme-icons/fonts/theme-icons37c1.ttf?sol2ij)
      format("truetype"),
    url(../../../../../../../../uploads/elementor/custom-icons/theme-icons/fonts/theme-icons37c1.woff?sol2ij)
      format("woff"),
    url(../../../../../../../../uploads/elementor/custom-icons/theme-icons/fonts/theme-icons37c1.svg?sol2ij#theme-icons)
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
[class^="vamtam-theme-"],
[class*=" vamtam-theme-"] {
  font-family: theme-icons !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vamtam-theme-list-dot:before {
  content: "\e91b";
}
.vamtam-theme-runner:before {
  content: "\e900";
}
.vamtam-theme-arrow-left:before {
  content: "\e901";
}
.vamtam-theme-arrow-right:before {
  content: "\e902";
}
.vamtam-theme-arrow-top:before {
  content: "\e903";
}
.vamtam-theme-arrow-bottom:before {
  content: "\e907";
}
.vamtam-theme-arrow-top-right:before {
  content: "\e90d";
}
.vamtam-theme-quote-end:before {
  content: "\e908";
}
.vamtam-theme-quote-start:before {
  content: "\e909";
}
.vamtam-theme-plus:before {
  content: "\e90f";
}
.vamtam-theme-minus:before {
  content: "\e910";
}
.vamtam-theme-hug:before {
  content: "\e90e";
}
.vamtam-theme-kettlebell:before {
  content: "\e90a";
}
.vamtam-theme-dumbbell:before {
  content: "\e90b";
}
.vamtam-theme-hand-dumbbell:before {
  content: "\e90c";
}
.vamtam-theme-shopping-bag:before {
  content: "\e904";
}
.vamtam-theme-side-menu:before {
  content: "\e905";
}
.vamtam-theme-close:before {
  content: "\e906";
}
.vamtam-theme-menu-sport:before {
  content: "\e91c";
}
.vamtam-theme-avocado:before {
  content: "\e915";
}
.vamtam-theme-love-hands:before {
  content: "\e916";
}
.vamtam-theme-whistle:before {
  content: "\e917";
}
.vamtam-theme-target:before {
  content: "\e914";
}
.vamtam-theme-news:before {
  content: "\e912";
}
.vamtam-theme-check:before {
  content: "\e91a";
}
.vamtam-theme-arrow-down:before {
  content: "\e911";
}
