.elementor-284
  .elementor-element.elementor-element-1ec5056:not(.elementor-motion-effects-element-type-background),
.elementor-284
  .elementor-element.elementor-element-1ec5056
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_5);
}
.elementor-284 .elementor-element.elementor-element-1ec5056 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 30px 40px;
}
.elementor-284
  .elementor-element.elementor-element-1ec5056
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-0387d0d.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-0387d0d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-0387d0d.elementor-column
  > .elementor-widget-wrap {
  justify-content: space-between;
}
.elementor-284
  .elementor-element.elementor-element-0387d0d
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284 .elementor-element.elementor-element-f1b9b1d {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-284 .elementor-element.elementor-element-f1b9b1d img {
  width: 70px;
  height: 40px;
}
.elementor-284
  .elementor-element.elementor-element-f1b9b1d
  > .elementor-widget-container {
  margin: 5px 0 0;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-67e0152.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-67e0152.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-67e0152.elementor-column
  > .elementor-widget-wrap {
  justify-content: space-between;
}
.elementor-284
  .elementor-element.elementor-element-67e0152
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284 .elementor-element.elementor-element-2bea3b7 {
  font-family: helvetica, Sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  width: auto;
  max-width: auto;
}
.elementor-284 .elementor-element.elementor-element-0c97ba4 .elementor-button {
  font-family: helvetica, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  fill: var(--e-global-color-vamtam_accent_2);
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:hover,
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:focus {
  color: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:hover
  svg,
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:hover
  .elementor-button-text,
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  .elementor-button:focus
  .elementor-button-text {
  text-decoration: underline;
}
.elementor-284
  .elementor-element.elementor-element-0c97ba4
  > .elementor-widget-container {
  margin: 0 20px 0 0;
}
.elementor-284 .elementor-element.elementor-element-0c97ba4 {
  width: auto;
  max-width: auto;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-ef26c14.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-ef26c14.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-ef26c14
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284 .elementor-element.elementor-element-252c85c {
  font-family: helvetica, Sans-serif;
  font-size: 14px;
  line-height: 1.8em;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-379d07f.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-379d07f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-284
  .elementor-element.elementor-element-379d07f.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-284
  .elementor-element.elementor-element-379d07f
  > .elementor-element-populated {
  padding: 0 0 0 90px;
}
.elementor-284 .elementor-element.elementor-element-8abecb3 {
  --grid-template-columns: repeat(3, auto);
  --icon-size: 25px;
  --grid-column-gap: 20px;
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-widget-container {
  text-align: right;
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon {
  background-color: #19191900;
  --icon-padding: 0.9em;
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon
  i {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-284 .elementor-element.elementor-element-8abecb3 .elementor-icon {
  border-radius: 0 0 0 0;
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-8abecb3
  > .elementor-widget-container {
  margin: -10px 0 0;
  padding: 0;
}
.elementor-284
  .elementor-element.elementor-element-3f70084:not(.elementor-motion-effects-element-type-background),
.elementor-284
  .elementor-element.elementor-element-3f70084
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_5);
}
.elementor-284 .elementor-element.elementor-element-3f70084 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-284
  .elementor-element.elementor-element-3f70084
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-284
  .elementor-element.elementor-element-1ab26a3
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group {
  padding-right: calc(0px / 2);
  padding-left: calc(0px / 2);
  margin-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-form-fields-wrapper {
  margin-left: calc(-0px / 2);
  margin-right: calc(-0px / 2);
  margin-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-field,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-subgroup
  label {
  font-family: helvetica, Sans-serif;
  font-size: 14px;
  line-height: 1.55em;
  letter-spacing: 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  input:not([type="button"]):not([type="submit"]),
.elementor-284 .elementor-element.elementor-element-91cdcb6 textarea,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-textual {
  border-style: solid;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper),
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-select-wrapper
  select {
  border-width: 2px;
  border-color: var(--e-global-color-vamtam_accent_5);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-vamtam_accent_5);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper),
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-select-wrapper
  select {
  border-radius: 0 0 0 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-field:hover,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-field:hover::placeholder {
  color: var(--e-global-color-vamtam_accent_2);
  caret-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  input:hover:not([type="button"]):not([type="submit"]),
.elementor-284 .elementor-element.elementor-element-91cdcb6 textarea:hover,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-textual:hover {
  border-style: solid;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper):hover,
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-select-wrapper:hover
  select {
  border-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-field-group
  .elementor-select-wrapper:hover::before {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284 .elementor-element.elementor-element-91cdcb6 .elementor-button {
  font-family: kanit, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5em;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-radius: 0 0 0 0;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-vamtam_accent_5);
  color: var(--e-global-color-vamtam_accent_2);
  border-color: var(--e-global-color-vamtam_accent_7);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-button[type="submit"] {
  background-color: var(--e-global-color-vamtam_accent_5);
  color: var(--e-global-color-vamtam_accent_2);
  border-color: var(--e-global-color-vamtam_accent_7);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .e-form__buttons__wrapper__button-previous {
  color: #fff;
  border-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .e-form__buttons__wrapper__button-next:hover {
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
  border-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-button[type="submit"]:hover {
  background-color: var(--e-global-color-vamtam_accent_1);
  color: var(--e-global-color-vamtam_accent_2);
  border-color: var(--e-global-color-vamtam_accent_1);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .e-form__buttons__wrapper__button-previous:hover {
  color: #fff;
  border-color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  .elementor-message.elementor-help-inline {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-284 .elementor-element.elementor-element-91cdcb6 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-284
  .elementor-element.elementor-element-91cdcb6
  > .elementor-widget-container {
  margin: 0 -20px;
  padding: 20px;
  background-color: var(--e-global-color-vamtam_accent_7);
}
.elementor-284
  .elementor-element.elementor-element-8bad43c
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-8bad43c:not(.elementor-motion-effects-element-type-background),
.elementor-284
  .elementor-element.elementor-element-8bad43c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-vamtam_accent_5);
}
.elementor-284 .elementor-element.elementor-element-8bad43c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 70px;
  padding: 25px 30px 20px;
}
.elementor-284
  .elementor-element.elementor-element-8bad43c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-a4c24ef.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-a4c24ef.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-a4c24ef
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu
  .elementor-item {
  font-family: helvetica, Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  line-height: 18px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-vamtam_accent_6);
  fill: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .current-menu-ancestor
  > .elementor-item {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed
  .elementor-item:before {
  border-width: 1px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 1px 1px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 1px 1px 0 0;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 1px 0 0 1px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 1px 1px 0;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-underline
  .elementor-item:after,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-overline
  .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-double-line
  .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-double-line
  .elementor-item:after {
  height: 1px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed
  .current-menu-ancestor
  > a.elementor-item:before {
  border-width: 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-draw
  .current-menu-ancestor
  > .elementor-item:before {
  border-width: 0 0 1px 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-draw
  .current-menu-ancestor
  > .elementor-item:after {
  border-width: 1px 1px 0 0 !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-corners
  .current-menu-ancestor
  > .elementor-item:before {
  border-width: 1px 0 0 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-framed.e--animation-corners
  .current-menu-ancestor
  > .elementor-item:after {
  border-width: 0 1px 1px 0 !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-underline
  .current-menu-ancestor
  > .elementor-item:after,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-overline
  .current-menu-ancestor
  > .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-double-line
  .current-menu-ancestor
  > .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .e--pointer-double-line
  .current-menu-ancestor
  > .elementor-item:after {
  height: 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  .elementor-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}
.elementor-284 .elementor-element.elementor-element-ff7b5a6 {
  --e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
  width: auto;
  max-width: auto;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 35px;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--dropdown
  a {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-284
  .elementor-element.elementor-element-ff7b5a6
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: -100px !important;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-486a06c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-486a06c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-486a06c.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-284
  .elementor-element.elementor-element-486a06c
  .elementor-element-populated
  a {
  color: var(--e-global-color-vamtam_accent_3);
}
.elementor-284
  .elementor-element.elementor-element-486a06c
  .elementor-element-populated
  a:hover {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-486a06c
  > .elementor-element-populated {
  padding: 0;
}
.elementor-284 .elementor-element.elementor-element-10fca0a {
  text-align: right;
  color: var(--e-global-color-vamtam_accent_3);
  font-family: var(--e-global-typography-396de09-font-family), Sans-serif;
  font-size: var(--e-global-typography-396de09-font-size);
  line-height: var(--e-global-typography-396de09-line-height);
  letter-spacing: var(--e-global-typography-396de09-letter-spacing);
  word-spacing: var(--e-global-typography-396de09-word-spacing);
  width: auto;
  max-width: auto;
}
.elementor-284
  .elementor-element.elementor-element-10fca0a
  > .elementor-widget-container {
  margin: 0 10px -12px 0;
  padding: 0;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu
  .elementor-item {
  font-family: helvetica, Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.15em;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-vamtam_accent_3);
  fill: var(--e-global-color-vamtam_accent_3);
  padding-left: 0;
  padding-right: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-vamtam_accent_6);
  fill: var(--e-global-color-vamtam_accent_6);
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  .current-menu-ancestor
  > .elementor-item {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed
  .elementor-item:before {
  border-width: 1px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-draw
  .elementor-item:before {
  border-width: 0 0 1px 1px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-draw
  .elementor-item:after {
  border-width: 1px 1px 0 0;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-corners
  .elementor-item:before {
  border-width: 1px 0 0 1px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-corners
  .elementor-item:after {
  border-width: 0 1px 1px 0;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-underline
  .elementor-item:after,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-overline
  .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-double-line
  .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-double-line
  .elementor-item:after {
  height: 1px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed
  .current-menu-ancestor
  > a.elementor-item:before {
  border-width: 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-draw
  .current-menu-ancestor
  > .elementor-item:before {
  border-width: 0 0 1px 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-draw
  .current-menu-ancestor
  > .elementor-item:after {
  border-width: 1px 1px 0 0 !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-corners
  .current-menu-ancestor
  > .elementor-item:before {
  border-width: 1px 0 0 1px !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-framed.e--animation-corners
  .current-menu-ancestor
  > .elementor-item:after {
  border-width: 0 1px 1px 0 !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-underline
  .current-menu-ancestor
  > .elementor-item:after,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-overline
  .current-menu-ancestor
  > .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-double-line
  .current-menu-ancestor
  > .elementor-item:before,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .e--pointer-double-line
  .current-menu-ancestor
  > .elementor-item:after {
  height: 1px !important;
}
.elementor-284 .elementor-element.elementor-element-356b8a2 {
  --e-nav-menu-horizontal-menu-item-margin: calc(20px / 2);
  width: auto;
  max-width: auto;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 20px;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--dropdown
  a {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu--main
  > .elementor-nav-menu
  > li
  > .elementor-nav-menu--dropdown,
.elementor-284
  .elementor-element.elementor-element-356b8a2
  .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  margin-top: -100px !important;
}
.elementor-284
  .elementor-element.elementor-element-356b8a2
  > .elementor-widget-container {
  padding: 0 0 0 10px;
}
@media (max-width: 1024px) {
  .elementor-284 .elementor-element.elementor-element-1ec5056 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 30px 20px;
  }
  .elementor-bc-flex-widget
    .elementor-284
    .elementor-element.elementor-element-0387d0d.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-0387d0d.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-bc-flex-widget
    .elementor-284
    .elementor-element.elementor-element-67e0152.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-67e0152.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-67e0152.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-284 .elementor-element.elementor-element-2bea3b7 {
    text-align: right;
  }
  .elementor-284
    .elementor-element.elementor-element-2bea3b7
    > .elementor-widget-container {
    padding: 0;
  }
  .elementor-bc-flex-widget
    .elementor-284
    .elementor-element.elementor-element-ef26c14.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-284
    .elementor-element.elementor-element-ef26c14.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-284
    .elementor-element.elementor-element-ef26c14.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-ef26c14
    > .elementor-element-populated {
    margin: 20px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-bc-flex-widget
    .elementor-284
    .elementor-element.elementor-element-379d07f.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-284
    .elementor-element.elementor-element-379d07f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-284
    .elementor-element.elementor-element-379d07f.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-284
    .elementor-element.elementor-element-379d07f
    > .elementor-element-populated {
    margin: 20px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-284 .elementor-element.elementor-element-3f70084 {
    padding: 0 30px;
  }
  .elementor-284 .elementor-element.elementor-element-8bad43c {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .elementor-284
    .elementor-element.elementor-element-486a06c.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-486a06c
    > .elementor-element-populated {
    margin: 20px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-284 .elementor-element.elementor-element-10fca0a {
    font-size: var(--e-global-typography-396de09-font-size);
    line-height: var(--e-global-typography-396de09-line-height);
    letter-spacing: var(--e-global-typography-396de09-letter-spacing);
    word-spacing: var(--e-global-typography-396de09-word-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-284 .elementor-element.elementor-element-1ec5056 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 60px 20px 20px;
  }
  .elementor-284 .elementor-element.elementor-element-0387d0d {
    width: 100%;
  }
  .elementor-284 .elementor-element.elementor-element-67e0152 {
    width: 100%;
  }
  .elementor-284
    .elementor-element.elementor-element-67e0152.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-284 .elementor-element.elementor-element-2bea3b7 {
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
  .elementor-284
    .elementor-element.elementor-element-2bea3b7
    > .elementor-widget-container {
    margin: 30px 0 0;
    padding: 0;
  }
  .elementor-284
    .elementor-element.elementor-element-0c97ba4
    > .elementor-widget-container {
    margin: 0 0 10px;
  }
  .elementor-284 .elementor-element.elementor-element-ef26c14 {
    width: 100%;
  }
  .elementor-284
    .elementor-element.elementor-element-ef26c14.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-ef26c14
    > .elementor-element-populated {
    margin: 10px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-284 .elementor-element.elementor-element-379d07f {
    width: 100%;
  }
  .elementor-284
    .elementor-element.elementor-element-379d07f.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-284
    .elementor-element.elementor-element-379d07f
    > .elementor-element-populated {
    margin: 10px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-284
    .elementor-element.elementor-element-8abecb3
    .elementor-widget-container {
    text-align: left;
  }
  .elementor-284 .elementor-element.elementor-element-8abecb3 {
    --grid-column-gap: 0px;
    --grid-row-gap: 0px;
  }
  .elementor-284
    .elementor-element.elementor-element-8abecb3
    > .elementor-widget-container {
    margin: 0;
  }
  .elementor-284 .elementor-element.elementor-element-3f70084 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-284
    .elementor-element.elementor-element-1ab26a3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .elementor-284
    .elementor-element.elementor-element-91cdcb6
    .elementor-button {
    border-width: 1px 0 0;
  }
  .elementor-284
    .elementor-element.elementor-element-91cdcb6
    > .elementor-widget-container {
    margin: 0 -10px;
  }
  .elementor-284 .elementor-element.elementor-element-8bad43c {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 30px 20px 0;
  }
  .elementor-284
    .elementor-element.elementor-element-ff7b5a6
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .elementor-284 .elementor-element.elementor-element-ff7b5a6 {
    --e-nav-menu-horizontal-menu-item-margin: calc(16px / 2);
  }
  .elementor-284
    .elementor-element.elementor-element-ff7b5a6
    .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-bottom: 16px;
  }
  .elementor-284
    .elementor-element.elementor-element-486a06c
    > .elementor-element-populated {
    margin: 15px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-284 .elementor-element.elementor-element-10fca0a {
    font-size: var(--e-global-typography-396de09-font-size);
    line-height: var(--e-global-typography-396de09-line-height);
    letter-spacing: var(--e-global-typography-396de09-letter-spacing);
    word-spacing: var(--e-global-typography-396de09-word-spacing);
  }
  .elementor-284
    .elementor-element.elementor-element-10fca0a
    > .elementor-widget-container {
    margin: 2px 2px 0 0;
  }
  .elementor-284
    .elementor-element.elementor-element-356b8a2
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 0;
    padding-right: 0;
  }
  .elementor-284 .elementor-element.elementor-element-356b8a2 {
    --e-nav-menu-horizontal-menu-item-margin: calc(16px / 2);
    width: 100%;
    max-width: 100%;
  }
  .elementor-284
    .elementor-element.elementor-element-356b8a2
    .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-bottom: 16px;
  }
  .elementor-284
    .elementor-element.elementor-element-356b8a2
    > .elementor-widget-container {
    margin: 10px 0 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .elementor-284 .elementor-element.elementor-element-0387d0d {
    width: 8.514%;
  }
  .elementor-284 .elementor-element.elementor-element-67e0152 {
    width: 30.469%;
  }
  .elementor-284 .elementor-element.elementor-element-ef26c14 {
    width: 36.017%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-284 .elementor-element.elementor-element-0387d0d {
    width: 40%;
  }
  .elementor-284 .elementor-element.elementor-element-67e0152 {
    width: 60%;
  }
  .elementor-284 .elementor-element.elementor-element-ef26c14 {
    width: 50%;
  }
  .elementor-284 .elementor-element.elementor-element-379d07f {
    width: 50%;
  }
  .elementor-284 .elementor-element.elementor-element-a4c24ef {
    width: 100%;
  }
  .elementor-284 .elementor-element.elementor-element-486a06c {
    width: 100%;
  }
}
