.elementor-5328
  .elementor-element.elementor-element-8374b4b
  > .elementor-container {
  max-width: 690px;
}
.elementor-5328 .elementor-element.elementor-element-8374b4b {
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 30px 80px;
  z-index: 11;
}
.elementor-5328
  .elementor-element.elementor-element-e79fa7c
  > .elementor-element-populated {
  padding: 0;
}
.elementor-5328 .elementor-element.elementor-element-0833310 {
  text-align: center;
}
.elementor-5328 .elementor-element.elementor-element-d0af0be {
  text-align: center;
}
.elementor-5328
  .elementor-element.elementor-element-d0af0be
  .elementor-heading-title {
  font-family: helvetica, Sans-serif;
  font-size: 16px;
  line-height: 1.875em;
}
.elementor-5328
  .elementor-element.elementor-element-d0af0be
  > .elementor-widget-container {
  margin: 0 0 20px;
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 20px;
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -20px;
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0;
}
body:not(.rtl)
  .elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0;
}
body
  .elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0;
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-field-type-html {
  padding-bottom: 0;
}
.elementor-5328 .elementor-element.elementor-element-0d3141c .elementor-button {
  font-family: kanit, Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.875em;
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .e-form__buttons__wrapper__button-next {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-button[type="submit"] {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-button[type="submit"]
  svg
  * {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .e-form__buttons__wrapper__button-previous {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .e-form__buttons__wrapper__button-next:hover {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-button[type="submit"]:hover {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328
  .elementor-element.elementor-element-0d3141c
  .e-form__buttons__wrapper__button-previous:hover {
  color: var(--e-global-color-vamtam_accent_2);
}
.elementor-5328 .elementor-element.elementor-element-0d3141c {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: var(
    --e-global-color-vamtam_accent_1
  );
  --e-form-steps-indicator-active-primary-color: var(
    --e-global-color-vamtam_accent_1
  );
  --e-form-steps-indicator-active-secondary-color: var(
    --e-global-color-vamtam_accent_2
  );
  --e-form-steps-indicator-completed-primary-color: var(
    --e-global-color-vamtam_accent_2
  );
  --e-form-steps-indicator-completed-secondary-color: var(
    --e-global-color-vamtam_accent_1
  );
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
#elementor-popup-modal-5328 .dialog-message {
  width: 1040px;
  height: auto;
}
#elementor-popup-modal-5328 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-5328 .dialog-close-button {
  display: flex;
  top: 40px;
  font-size: 22px;
}
#elementor-popup-modal-5328 .dialog-widget-content {
  animation-duration: 0.6s;
  background-color: var(--e-global-color-vamtam_accent_1);
  margin: 0;
}
body:not(.rtl) #elementor-popup-modal-5328 .dialog-close-button {
  right: 40px;
}
body.rtl #elementor-popup-modal-5328 .dialog-close-button {
  left: 40px;
}
@media (max-width: 1024px) {
  .elementor-5328 .elementor-element.elementor-element-8374b4b {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 30px;
  }
  #elementor-popup-modal-5328 {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .elementor-5328 .elementor-element.elementor-element-8374b4b {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 20px;
  }
  #elementor-popup-modal-5328 {
    justify-content: center;
    align-items: center;
  }
  body:not(.rtl) #elementor-popup-modal-5328 .dialog-close-button {
    right: 10px;
  }
  body.rtl #elementor-popup-modal-5328 .dialog-close-button {
    left: 10px;
  }
  #elementor-popup-modal-5328 .dialog-message {
    padding: 0;
  }
}
